.card {
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mr-1 {
  margin-right: 1.5rem;
}

.font-2rem {
  font-size: 2rem;
}

.mt {
  margin-top: 1.5rem;
}

.water-btn {
  color: #4f5d73;
  transition: color 200ms ease;
}

.water-btn-m {
  margin: 0 1rem;
}

.water-btn-text {
  font-size: 0.7rem;
  white-space: nowrap;
}

.water-btn:hover {
  color: black;
  font-weight: bold;
  transition: color 200ms ease;
}
