.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.msg {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  color: #305738;
}

.center {
  text-align: center;
}
