@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*******/
.garden-card {
  align-items: flex-end;
}

.parent {
  position: relative;
  height: 210px;
}

.child {
  position: absolute;
  bottom: 0px;
}

/* custom */
.garden {
  color: #023020;
}

.no-text-decoration {
  text-decoration: none;
}

.text-black {
  color: black;
}

.new-line {
  white-space: pre-wrap;
}

.width-full {
  width: 100%;
}

.width-82p {
  width: 82%;
}

.width-half {
  width: 50%;
}

.width-200 {
  width: 200px;
}

.width-130 {
  width: 130px;
}

.width-100 {
  width: 100px;
}

.minWidth-full {
  min-width: 100%;
}

.minWidth-60 {
  min-width: 60%;
}

.minWidth-70 {
  min-width: 70%;
}

.display-block {
  display: block;
}

.vertical-align-middle {
  vertical-align: middle;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-20 {
  font-size: 20px;
}

.text-grey {
  color: grey;
}

.height-95 {
  height: 95%;
}

/* 소셜 로그인 */

body {
  background: #4688F1;
  padding: 0;
  margin: 0;
}

.login-box {
  background: #fff;
  padding: 20px;
  max-width: 480px;
  margin: 25vh auto;
  text-align: center;
  letter-spacing: 1px;
  position: relative;
}

.social-button {
  background-position: 25px 0px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
  border-radius: 3px;
  margin: 10px auto;
  outline: rgb(255, 255, 255) none 0px;
  padding-left: 20%;
  transition: all 0.2s cubic-bezier(0.72, 0.01, 0.56, 1) 0s;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

#kakao-connect {
  background: rgb(255, 255, 255) url('./assets/images/kakao.png') no-repeat scroll 0px 5px / 30px 30px padding-box border-box;
  background-position: center;
  border: 1px solid #FEE500;
}

#kakao-connect:hover {
  border-color: #FEE500;
  background: #FEE500 url('./assets/images/kakao.png')  no-repeat scroll 0px 0px / 30px 30px padding-box border-box;
  -webkit-transition: all .8s ease-out;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease-out;
  background-position: center;
}

#google-connect {
  background: rgb(255, 255, 255) url('https://raw.githubusercontent.com/eswarasai/social-login/master/img/google-plus.png') no-repeat scroll 5px 0px / 50px 50px padding-box border-box;
  border: 1px solid rgb(220, 74, 61);
  background-position: center;
}

#google-connect:hover {
  border-color: rgb(220, 74, 61);
  background: rgb(220, 74, 61) url('https://raw.githubusercontent.com/eswarasai/social-login/master/img/google-plus-white.png') no-repeat scroll 0px 0px / 50px 50px padding-box border-box;
  -webkit-transition: all .8s ease-out;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease-out;
  background-position: center;
}

#naver-connect {
  background: rgb(255, 255, 255) url('./assets/images/naver-w.png') no-repeat scroll 5px 1px / 45px 45px padding-box border-box;
  border: 1px solid #02C75A;
  background-position: center;
}

#naver-connect:hover {
  border-color: #02C75A;
  background: #02C75A url('./assets/images/naver-g.png') no-repeat scroll 5px 1px / 45px 45px padding-box border-box;
  -webkit-transition: all .8s ease-out;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease-out;
  background-position: center;
}
